{
    "event": {
      "commonEventHeader": {
        "eventId": "registration_39239592",
        "eventType": "pnfRegistration",
        "reportingEntityName": "NOK6061ZW3",
        "domain": "pnfRegistration",
        "nfcNamingCode": "oam",
        "sequence": 0,
        "sourceId": "val13",
        "internalHeaderFields": {},
        "priority": "Normal",
        "sourceName": "{{ source_name }}",
        "eventName": "pnfRegistration_Nokia_5gDu",
        "version": "4.0.1",
        "nfNamingCode": "gNB",
        "startEpochMicrosec": 1539239592379,
        "vesEventListenerVersion": "7.0.1",
        "lastEpochMicrosec": 1539239592379
      },
      "pnfRegistrationFields": {
        "pnfRegistrationFieldsVersion": "2.0",
        "serialNumber": "6061ZW3",
        "vendorName": "Nokia",
        "oamV4IpAddress": "192.168.0.1",
        "oamV6IpAddress": "2001:db8::1428:57ab",
        "unitFamily": "BBU",
        "modelNumber": "val6",
        "softwareVersion": "val7",
        "unitType": "val8"
      }
    }
  }