[project]
	description = \"testsuite-pythonsdk-tests\"
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group ldap/onap-gerrit-testsuite-pythonsdk-tests-committers
	owner = group saml/onap-gerrit-testsuite-pythonsdk-tests-committers
	read = group GitHub Replication
