{% extends "base.html.j2" %}
{% block title %}Summary{% endblock %}
{% block content %}
    {{ summary('Results', "", [
      { 'title': 'Pythonsdk Tests', 'failing': report.failed_steps_num, 'total': (report.report | length)},
      ])
    }}

  <section class="section">
    <div class="container">
      <h1 class="title is-1">
        {{ usecase }}
      </h1>
        Description: {{ details }}
        <br>
        Components: {{ components }}
        <br>
        <a href="{{ log_path }}"> Logs</a>
      <!-- Pythonsdk steps table -->
      <div id="helms" class="table-container">
        <table class="table is-fullwidth is-striped is-hoverable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Duration (seconds)</th>
            </tr>
          </thead>
          <tbody>
          {% for step_report in report.report %}
            <tr {% if  step_report.step_execution_status.value == 'FAIL' %} class="has-background-danger"  {% else %} class="has-background-success-light" {% endif %}>
            <td>
            {{ step_report.step_description }}
            </td>
            <td>
            {{ step_report.step_execution_status.value }}
            </td>
            <td>
            {{ step_report.step_execution_duration | round(2) }}
            </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}
