---
{{ service_name }}:
    subscription_service_type: {{ service_name }}
    vnfs:
        - model_name: {{ service_name }}VF0
          vnf_name: {{ service_name }}00
          vnf_parameters:
              vnf-name: "multi_vnf_ubuntu_0_0"
              vnf_name: "MultiVnfUbuntu00"
          vf_module_parameters:
              - vf_module_name: {{ service_name }}00network0
                model_name: base
                parameters:
                    name: "multi_vnf_ubuntu_0_0_network_0"
                    cidr: "10.10.10.0/24"
        - model_name: {{ service_name }}VF0
          vnf_name: {{ service_name }}01
          vnf_parameters:
              vnf-name: "multi_vnf_ubuntu_0_1"
              vnf_name: "MultiVnfUbuntu01"
          vf_module_parameters:
              - vf_module_name: {{ service_name }}01vfm0
                model_name: ubuntu-vf-module
                parameters:
                    name: "multi_vnf_ubuntu_0_1_vfm_0"
                    network_mgmt: "vlan197_net"
                    key_name: "sebastien"
                    network_name: "multi_vnf_ubuntu_0_0_network_0"
              - vf_module_name: {{ service_name }}01vfm1
                model_name: ubuntu-vf-module
                parameters:
                    name: "multi_vnf_ubuntu_0_1_vfm_1"
                    network_mgmt: "vlan197_net"
                    key_name: "sebastien"
                    network_name: "multi_vnf_ubuntu_0_0_network_0"
