apiVersion: v1
kind: Config
current-context: default
contexts:
- name: default
context:
    cluster: cluster
    user: cluster-admin
    namespace: default
clusters:
- name: cluster
cluster:
    insecure-skip-tls-verify: true
    server: https://kubernetes.default.svc.cluster.local
users:
- name: cluster-admin
user:
token: {{ user_token_value }}