{% extends "base.html.j2" %}
{% block title %}Job {{ job.name }}{% endblock %}
{% block content %}
    {{ two_level_breadcrumb('Job', job.name) | indent(width=4) }}

    {{ pod_parent_summary('Job', job.name, job.failed_pods, job.pods) }}

    <section class="section">
      {{ description(job.k8s) | indent(width=6) }}

      {{ pods_container(job.pods, "Job") | indent(width=6) }}

    {{ events(job.events) }}
    </section>
{% endblock %}
